body {
  font-family: "Malgun Gothic";
  background: #111;
  color: #eee;
  padding: 20px;
}

#log {
  background: black;
  padding: 15px;
  height: 350px;
  overflow-y: auto;
  font-size: 16px;
}

button {
  font-size: 18px;
  margin: 5px;
  padding: 10px 20px;
}
